.App {
    background-color: darkgrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 20px;
    height: 100vh;
    align-content: center;
}

.grid-item {
    border:1px solid black;
}

.grid-item-1 {
    grid-column: 1 / -1;
}

.grid-item-2 {
    grid-row-start: 2;
    grid-row-end: 4;
}

.grid-item-3 {
    grid-column: 2 / -1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.grid-item-4 {
    grid-column: 1 / -1;
}